body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
  }
  
  h2 {
    color: #d6600c;
    font-size: 24px;
    text-align: center;
  }
  
  ul {
    margin-left: 400px;
    list-style-type: none;
    padding: 0;
    width: 800px;
  }
  
  ul li {
 
    background-color: #ffffffdf;
    border: 1px solid #ddd;
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
  }
  
  ul li a {
    text-decoration: none;
    color: #29562b;
    font-weight: bold;
  }
  
  ul li a:hover {
    color: #ff6347;
  }
  
  /* Error message styling */
  div.error {
    color: #ff6347;
    background-color: #ffe5e5;
    border: 1px solid #ff6347;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
  }
  